body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-container {
  padding: 20px;
}

.login-container h2 {
  margin-top: 0;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 80px;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 80px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: green;
}

.chat-container {
  display: none;
  height: 500px;
  flex-direction: column;
}


.chat-header {
  background-color: #000000;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message b {
  color: #ffffff;
}

.message small {
  color: #ffffff;
  font-size: 0.8em;
  margin-left: 5px;
}

.chat-input {
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: white;
}

.input-row {
  display: flex;
  margin-bottom: 10px;
}

.input-row input {
  flex: 1;
  margin-right: 10px;
}

#message {
  width: 85%;
}

.send-btn {
  width: 15% !important;
  padding: 10px 5px !important;
}

.delete-btn {
  background-color: #e74c3c;
  margin-top: 10px;
  width: 100%;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

/* Popup overlay */
#deletePopup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#deletePopup .popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  background: linear-gradient(135deg, #0080ff, #6f00ff); /* μπλε προς μωβ */
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
.message b {
  color: #ffffff;
}

.message small {
  color: #ffffff;
  font-size: 0.8em;
  margin-left: 5px;
}

.delete-circle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
